@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Frontend.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


<div class="text-center">
    <h1 class="display-4">Welcome to Advanced Media Library</h1>
    <p></p>
 </div> 

<div class="carousel-container">
    <div class="carousel">

       <a class="card text-decoration-none" asp-controller="Books" asp-action="Index">
            <img src="img/img1.jpg" alt="Image 1">
            <div class="text">
                <h3>Read books online</h3>
                <p>Books available online.</p>
            </div>
        </a>

        <a class="card text-decoration-none" asp-controller="Books" asp-action="Index">
            <img src="img/img2.jpg" alt="Image 2">
            <div class="text">
                <h3>Keep a wishlist</h3>
                <p>Organise your books by keeping a list.</p>
            </div>
        </a>

        <a class="card text-decoration-none" asp-controller="Games" asp-action="Index">
            <img src="img/img3.jpg" alt="Image 3">
            <div class="text">
                <h3>Play new games</h3>
                <p>Discover new strategy game.</p>
            </div>
        </a>

        <a class="card text-decoration-none" asp-controller="Home" asp-action="Index">
            <img src="img/img4.jpg" alt="Image 4">
            <div class="text">
                <h3>Leave a feedback</h3>
                <p>Your feedback will help us.</p>
            </div>
        </a>

        <a class="card text-decoration-none" asp-controller="Home" asp-action="Index">
            <img src="img/img5.jpg" alt="Image 5">
            <div class="text">
                <h3>Branch Location</h3>
                <p>Find drop off point near you.</p>
            </div>
        </a>

        <a class="card text-decoration-none" asp-controller="Journals" asp-action="Index">
            <img src="img/img6.jpg" alt="Image 6">
            <div class="text">
                <h3>See our journals</h3>
                <p>Discover new authors.</p>
            </div>
        </a>

    </div>
  

    <button class="prev" onclick="moveCarousel(-1)">❮</button>
    <button class="next" onclick="moveCarousel(1)">❯</button>
 
  </div>

<div class= "container">
 <figure>
  <blockquote class="blockquote">
    <p>About the project</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    The primary goal of the Advanced Media Library will be to highlight the essential features of the suggested 
    library management system. It will have an intuitive user interface that makes it easy to search for, borrow 
    from, and return material on both in-branch and online platforms. Will put in place a centralised system to 
    manage the inventory of media and enable effective resource sharing between branches. Prioritising adherence 
    to WCAG 2 criteria will guarantee accessibility for every user, including individuals with impairments. 
    Based on user stories and functional requirements, tutors serving as AML representatives will provide ongoing 
    input that will assist develop the features and goals. The proof-of-concept endeavours to substantiate the fundamental 
    features to lay a solid basis for the eventual system's full-scale deployment, guaranteeing that it satisfies present as 
    well as future requirements.  
  </figcaption>
</figure>

 <figure>
  <blockquote class="blockquote">
    <p>Vision</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    The ALM's ultimate objective is to make all of humanity's published works available to everyone throughout the world.
    Despite its broad scope and ambition, we can achieve this aim. Librarians, authors, government officials, and 
    technologists will all need to help make it a reality.
  </figcaption>
</figure>

<div class="container1">
    <div class= "map-container">
 <h5 class="display-4">Visit Our Branch</h5>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d76157.84111155804!2d-1.617758274078362!3d53.38025659040896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487982825e054fe7%3A0x25bb989ee47134ea!2sSheffield%20Central%20Library!5e0!3m2!1sen!2suk!4v1732655073644!5m2!1sen!2suk"
        width="800"
        height="250"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
    </iframe>
    </div>

     <div class="sidebar">
        <h2>Opening Hours</h2>
        <ul>
            <li>Monday: 9:00 AM - 6:00 PM</li>
            <li>Tuesday: 9:00 AM - 6:00 PM</li>
            <li>Wednesday: 9:00 AM - 6:00 PM</li>
            <li>Thursday: 9:00 AM - 6:00 PM</li>
            <li>Friday: 9:00 AM - 6:00 PM</li>
            <li>Saturday: 10:00 AM - 4:00 PM</li>
            <li>Sunday: Closed</li>
        </ul>
    </div>

   </div>

</div>
